p {
   text-align: center;
   line-height: calc(100vh / 5);
}

[class*="col-"] {
    background-color: #ffb3b3;
    border: 1px solid #000;
    margin: 0 auto;
    height: calc(100vh / 5);
}

.padded {
    padding: 5px;
}

.nested {
    height: 100%;
    background-color: #ff8080;
    border-color: #ffb3b3;
}
